/* MonthlyPlanPage.css */

.monthly-plan-page {
  text-align: center;
  padding: 20px;
}

.switch-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 20px 0;
}

.switch-labels {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}

.switch-label {
  margin: 5px;
  font-size: 18px;
  color: #555;
  cursor: pointer;
}

.switch-label.active {
  color: #7894bc;
}

.switch {
  position: relative;
  width: 60px;
  height: 30px;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #7894bc;
  transition: 0.4s;
  border-radius: 30px;
}

.slider:before {
  position: absolute;
  content: '';
  height: 24px;
  width: 24px;
  left: 3px;
  bottom: 3px;
  background-color: white;
  transition: 0.4s;
  border-radius: 50%;
}

input:checked + .slider {
  background-color: #1e4d91;
}

input:checked + .slider:before {
  transform: translateX(30px);
}

/* MonthlyPlanPage.css */

/* ... (previous styles) */

.plan-options {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  width: 100%;
  margin-top: 20px;
}

.plan-box {
  width: 100px; /* Adjust the width as needed */
  height: 100px; /* Set the height to match the width */
  padding: 10px;
  text-align: center;
  font-weight: bold;
  border: 2px solid #7894bc;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Add specific alignments for each button */
.mobile {
  position: relative;
 left: 40px;
}


/* ... (rest of the styles) */


.plan-box:hover {
  background-color: #7894bc;
  color: white;
}

.plan-box.selected {
  background-color: #1e4d91;
  color: white;
}

.plans-table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

th,
td {
  padding: 10px;
  text-align: center;
}

td {
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  width: 25%;
}

td.selected {
  
  color: #205090;
  font-weight: bold;
}

.next-button {
  background-color: #1e4d91;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 20px;
}
